{% extends 'base.html.twig' %}
{% block body %}
    <div class="fiche" style="background-image: url('https://image.tmdb.org/t/p/original{{ movie.backdropPath }}')">
        <div class="ficher-overlay">
        </div>
        <div class="container py-6">
            <div class="fiche-content">
                <div class="poster d-none d-sm-block">
                    <img class="poster-image" src="https://image.tmdb.org/t/p/original{{ movie.posterPath }}">
                </div>
                <div class="description px-5">
                    <h1 class="description-title">{{ movie.title }}</h1>
                    <div class="mb-4">
                        {% for genre in movie.genres %}
                            <span class="tag px-3 mr-1 mb-1">{{ genre.name }}</span>
                        {% endfor %}
                    </div>
                    <div class="row my-4">
                        <div class="col-md-6 d-flex">
                            <div id="chart"></div>
                        </div>
                       {# #}{#<% if user_signed_in? %>#}{#
                        {% if app.user %}
                            <div class="col-md-6 d-flex">
                                <div id="star-rating"></div>
                            </div>
                        #}{#<% end%>#}{#
                        {% endif %}#}
                    </div>
                    <h3>Synopsis</h3>
                    <div class="text-muted">
                        {{ movie.overview }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="my-3 my-md-5">
        <div class="container ">
            <div class="row">
                <div class="col-lg-4 col-md-8  col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Informations</h3>
                        </div>
                        <div class="card-body">
                            <div class="media mb-5">
                                <img class="d-flex mr-5 rounded w-50" src="https://image.tmdb.org/t/p/original/{{ movie.posterPath }}">
                                <div class="media-body">
                                    <h5>{{ movie.title }}</h5>
                                    <h6 class="text-muted">{{ movie.releaseDate | date('j F Y') }}</h6>
                                    <div class="text-muted small">
                                        Titre Original : {{ movie.originalTitle }}
                                    </div>
                                    {% if app.user %}
                                        {% if app.user in movie.favoriteUsers %}
                                            <a href="{{ path('remove_favoris_movie', { 'id': movie.id }) }}" class="btn btn-sm btn-danger m-3">
                                                <i class="fe fe-heart mr-2"></i>You Like It
                                            </a>
                                        {% else %}
                                            <a href="{{ path('favoris_movie', { 'id': movie.id }) }}" class="btn btn-sm btn-outline-danger m-3">
                                                <i class="fe fe-heart mr-2"></i>Like It
                                            </a>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="h6">Etat</div>
                                    {% if movie.status == "Released" %}
                                        <span class="tag tag-lime">Sortie</span>
                                    {% else %}
                                        <span class="tag tag-gray-dark">{{ movie.status }}</span>
                                    {% endif %}
                                </div>
                                <div class="col-6">
                                    <div class="h6">Budget</div>
                                    <p>{{ movie.budget | number_format(0, '.') }} $</p>
                                </div>
                                <div class="col-6">
                                    <div class="h6">Durée</div>
                                    <p>{{ movie.runtime }} min</p>
                                </div>
                                <div class="col-6">
                                    <div class="h6">Note Moyenne</div>
                                    <p>{{ movie.averageNote }}</p>
                                </div>
                            </div>

                            {% if suggestions | length > 0 %}
                            <div class="row">
                                <div class="col-12">
                                    <div class="h5">Suggestions de films </div>
                                    <ul class="list-unstyled list-separated">
                                        {% for movie in suggestions %}
                                            <li class="list-separated-item">
                                                <div class="media mb-5">
                                                    <img class="d-flex mr-5 rounded w-25" src="https://image.tmdb.org/t/p/original/{{ movie.posterPath }}">
                                                    <div class="media-body">
                                                        <h5>{{ movie.title }}</h5>
                                                        <div class="text-muted small">
                                                            {{ movie.originalTitle }}
                                                        </div>
                                                        <p>{{ movie.averageNote }}/10</p>
                                                        {% if app.user %}
                                                            {% if app.user in movie.favoriteUsers %}
                                                                <a href="{{ path('remove_favoris_movie', { 'id': movie.id }) }}" class="btn btn-sm btn-danger m-3">
                                                                    <i class="fe fe-heart mr-2"></i>You Like It
                                                                </a>
                                                            {% else %}
                                                                <a href="{{ path('favoris_movie', { 'id': movie.id }) }}" class="btn btn-sm btn-outline-danger m-3">
                                                                    <i class="fe fe-heart mr-2"></i>Like It
                                                                </a>
                                                            {% endif %}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-10 col-sm-12 mx-auto">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Commentaire</h3>
                        </div>
                        <ul class="list-group card-list-group" id="listCom">
                            {% if movie.comments|length > 0 %}
                                {% for comment in movie.comments %}
                                    <li class="list-group-item py-5">
                                        <div class="media">
                                            <div class="mr-4" >
                                                <span class="avatar avatar-md avatar-green">{{ comment.commentUser.username|slice(0,2)|upper }}</span>
                                            </div>
                                            <div class="media-body">
                                                <div class="media-heading">
                                                    <small class="float-right text-muted">{{ comment.createdAt|date('d/m/Y')}}</small>
                                                    {#<% if can? :destroy, comment%>
                                                    <button type="button" class="float-right btn btn-icon btn-primary btn-danger"><i class="fe fe-trash"></i></button>
                                                    <% end %>#}
                                                    <h5>{{ comment.commentUser.username }}</h5>
                                                </div>
                                                <div>
                                                    {{ comment.content }}
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            {% else %}
                                <li class="list-group-item py-5">
                                    <div class="media">
                                        <div class="media-body">
                                            <div>
                                                Soyez le premier à commenter !
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            {% endif %}
                        </ul>

                        {% if app.user %}
                            {{ form_start(commentForm) }}
                            <div class="card-footer">
                                <div class="form-group mb-0">
                                    <label class="form-label">Mon Commentaire</label>
                                    {{ form_widget(commentForm.content, {'attr': {'placeholder': 'Ici votre commentaire'} }) }}
                                </div>
                            </div>
                            <div class="card-footer text-right">
                                {{ form_widget(commentForm.submit, {'label' : 'Poster mon commentaire'}) }}
                            </div>
                            {{ form_end(commentForm) }}
                        {% endif %}

                    </div>
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Bande d'annonce</h3>
                        </div>
                        <div class="card-body">
                            <iframe style="height: 400px; width: 100%; position: relative;" src="https://www.youtube.com/embed/{{ movie.video }}" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    {#<div class="tab-content movie-tab" id="myTabContent">#}

        {#<div class="tab-pane fade show active" id="comment" role="tabpanel" aria-labelledby="comment-tab">#}
            {##}
        {#</div>#}


        {#<div class="tab-pane fade" id="video" role="tabpanel" aria-labelledby="video-tab">#}
            {#<div class="tab-pane fade show active" id="comment" role="tabpanel" aria-labelledby="comment-tab">#}
                {#<div class="my-3 my-md-5">#}
                    {#<div class="container ">#}
                        {#<div class="page-header">#}
                            {#<h1 class="page-title">#}
                                {#Video#}
                            {#</h1>#}
                        {#</div>#}
                        {#<div class="row row-cards">#}

                            {#<% if @movie.video.present? %>#}
                            {#<div class="col-sm-6 col-lg-4">#}
                                {#<div class="card p-3">#}
                                    {#<div class="mb-3">#}
                                        {#<div class="lecteur">#}
                                            {#<iframe width="600" height="400"  src="<%= @movie.video%>" frameborder="0" allowfullscreen></iframe>#}

                                        {#</div>#}
                                    {#</div>#}
                                    {#<div class="d-flex align-items-center px-2">#}
                                        {#<div class="avatar avatar-red avatar-md mr-3" >YT</div>#}
                                        {#<div>#}
                                            {#<div>Youtube</div>#}
                                            {#<small class="d-block text-muted">12 days ago</small>#}
                                        {#</div>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                            {#<% else %>#}
                            {#<div class="alert alert-warning" role="alert">#}
                                {#<i class="fe fe-alert-circle mr-2" aria-hidden="true"></i>Il n'y a aucune video pour ce film#}
                            {#</div>#}
                            {#<% end %>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}


    {#</div>#}

{% endblock %}