{% extends "base.html.twig" %}

{% block body %}
    <div class="my-3 my-md-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card card-profile">
                        <div class="card-header" style="background-image: url({{ asset('assets/images/bg.jpg') }});"></div>
                        <div class="card-body text-center">
                            <img class="card-profile-img" src="{{ asset('assets/images/profile.jpg') }}">
                            <h3 class="mb-3">{{ app.user.username }}</h3>

                            <p class="text-muted mb-4">{{ app.user.email }}</p>
                            <a class="btn btn-outline-danger btn-sm" href="/profile/delete">
                                 Supprimer mon compte
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="card">
                        <div class="card-body" style="padding-bottom: 0px">

                            <div class="page-header" style="margin-top: 0">
                                <h1 class="page-title">
                                    Vos films favoris
                                </h1>
                                <div class="page-subtitle">
                                    <span class="tag"><b>{{ app.user.favorite_movies | length }}</b> &nbsp films</span>
                                </div>
                            </div>
                            <div class="row row-cards" style="overflow: auto;flex-wrap: nowrap;margin-right: -24px;margin-left: -24px">
                                {% for movie in app.user.favorite_movies %}
                                    <div class="col-sm-6 col-lg-4">
                                        <div class="card ">
                                            <div class="hover">
                                                <a class="trash" href="/profile/movie/delete/{{ movie.id }}"></a>
                                            </div>
                                            <img src="https://image.tmdb.org/t/p/original/{{ movie.posterPath }}" alt="Photo by Nathan Guerrero" class="rounded">
                                        </div>
                                    </div>

                                {% else %}
                                    <div class="col-md-12">
                                        <div class="alert alert-icon alert-warning" role="alert">
                                            <i class="fe fe-alert-triangle mr-2" aria-hidden="true"></i>
                                            Aucun film enregistré
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body" style="padding-bottom: 0px">

                            <div class="page-header" style="margin-top: 0">
                                <h1 class="page-title">
                                    Vos séries favorites
                                </h1>
                                <div class="page-subtitle">
                                    <span class="tag"><b>{{ app.user.favorite_tvs | length }}</b> &nbsp séries</span>
                                </div>
                            </div>
                            <div class="row row-cards" style="overflow: auto;flex-wrap: nowrap;margin-right: -24px;margin-left: -24px">
                                {% for tv in app.user.favorite_tvs %}
                                    <div class="col-sm-6 col-lg-4">
                                        <div class="card ">
                                            <div class="hover">
                                                <a class="trash" href="/profile/tv/delete/{{ tv.id }}"></a>
                                            </div>
                                            <img src="https://image.tmdb.org/t/p/original/{{ tv.posterPath }}" alt="Photo by Nathan Guerrero" class="rounded">
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="col-md-12">
                                        <div class="alert alert-icon alert-warning" role="alert">
                                            <i class="fe fe-alert-triangle mr-2" aria-hidden="true"></i>
                                            Aucune série enregistrée
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
