{% extends 'blank.html.twig' %}
{% block body %}
    <div class="page-single">
        <div class="container">
            <div class="row">
                <div class="col col-login mx-auto">
                    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register card'}}) }}

                        <div class="card-body p6">
                            <div class="card-title">
                                Crée un compte
                            </div>

                            <div class="form-group">
                                <label class="form-label" for="username">Email</label>
                                {{ form_widget(form.email, {'label': false,'attr': {'class': 'form-control form-control-alt', 'type': 'email' ,'placeholder' :'Email'}}) }}
                                {{ form_errors(form.email, {'class': 'error-messages'})}}
                            </div>

                            <div class="form-group">
                                <label class="form-label" for="username">Nom d'utilisateur</label>
                                {{ form_widget(form.username, {'label': false,'attr': {'class': 'form-control form-control-alt', 'type': 'text' ,'placeholder' :'Username'}}) }}
                                {{ form_errors(form.username, {'class': 'error-messages'}) }}
                            </div>

                            <div class="form-group">
                                <label class="form-label" for="username">Mot de passe</label>
                                {{ form_widget(form.plainPassword.first, {'label': false,'attr': {'class': 'form-control form-control-alt', 'type': 'email' ,'placeholder' :'Password'}}) }}
                            </div>


                            <div class="form-group">
                                <label class="form-label" for="username">Retapez le mot de passe</label>
                                {{ form_widget(form.plainPassword.second, {'label': false,'attr': {'class': 'form-control form-control-alt', 'type': 'email' ,'placeholder' :'Confirm Password'}}) }}
                                {{ form_errors(form.plainPassword, {'class': 'error-messages'})}}
                            </div>

                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="signup-terms" name="signup-terms" required>
                                    <label class="custom-control-label font-w400" for="signup-terms">I agree to Terms &amp; Conditions</label>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-6 col-xl-5">
                                    <input type="submit" class="btn btn-primary btn-round btn-block" value="Inscription" />
                                </div>
                            </div>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}





